<<<<<<< HEAD
.daily-routine-box{
    width: 350px;
    height: 420px;
    border-radius: 8px;
    background-color: rgba(238, 247, 251, 1);
    padding: 46px 60px 46px 60px;
}

.daily-routine-box .text-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: rgba(28, 38, 53, 1);
}

.daily-routine-title{
    text-align: center;
    line-height: 26.4px;
    font-size: 24px;
}

.daily-routine-text{
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
=======
.daily-routine-box{
    width: 350px;
    height: 420px;
    border-radius: 8px;
    background-color: rgba(238, 247, 251, 1);
    padding: 46px 60px 46px 60px;
}

.daily-routine-box .text-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: rgba(28, 38, 53, 1);
}

.daily-routine-title{
    text-align: center;
    line-height: 26.4px;
    font-size: 24px;
}

.daily-routine-text{
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
>>>>>>> 659ff1546195ba73f5ae4e7d241f07029f17dfc2
}